@tailwind base;
@tailwind components;
@tailwind utilities;

.App-header {
  @apply bg-white text-gray-800 font-semibold w-full flex justify-center items-center;
  height: 10vh;
}
.game-field {
  @apply bg-gray-800 text-white font-semibold w-full flex justify-center items-center;
  height: 60vh;
}

.game-score {
  @apply border-t-2 border-yellow-500 p-4 relative flex justify-center;
  height: 10vh;
}
.game-score::before {
  content: attr(data-user);
  padding-top: 0.25rem;
  background: red;
  margin: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  font-weight: bold;
}
.game-score::after {
  content: attr(data-machine);
  padding-top: 0.25rem;
  background: red;
  margin: 2px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  font-weight: bold;
}

.game-messages {
  height: 20vh;
}

.option-container {
  width: 30vmin;
  height: 30vmin;
}
.option {
  font-size: 25vmin;
}

@media (min-width: 640px) {
  .game-field {
    height: 70vh;
  }
  .game-messages {
    height: 10vh;
  }
}
